*, *:before. *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: white;
}

nav {
  display: block;
  margin: 0 auto;
  position: fixed;
  width: 420px;
  background-color: white;
}
.map {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 5px;
}

.status-bar {
  background-image: url(../images/base.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}


.stop {
  display: inline-block;
  padding-top: 20px;
  padding-left: 25px;
}

.arrow{
  image: url(../images/Arrow.png);
  display:inline-block;
  float: left;
  background-repeat: no-repeat;
}

.profile {
  image: url(../images/Userpic.png);
  display: inline-block;
  float: right;
  background-repeat: no-repeat;
}
.bus-routes{
  padding-top: 45px;
  padding-right: 2%;
  width: 100%;
}

.direction {
  width: 420px;
  display: inline-block;
}

.line {
  display: inline-block;
  float: left;
  border: 5px 5px 5px 5px;
  border-color: gray;
}

h1 {
  font-size: 20px;
  line-height: 1.5em;
}

h2  {
  font-size: 18px;
  line-height: 1.5em;
}

h3 {
  font-size: 16px;
  line-height: 1.5em;

}

h4 {
  font-size: 22px;
  line-height: 1.5em;
  text-align: center;
}
