*, *:before. *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: system-ui; sans-serif;
  font-size: 16px;
}

div {
  float: left;
  padding: 5%;
  border: 5px;
  margin: 5%;
  width: 400%;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 28%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: .5%;
    width: 48%;
  }
}

.preview{

}
.baku{
  background-image: url(../images/baku.jpg);
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
  background-postion: left;
}

.london{
  background-image: url(../images/london.png);
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
  background-postion: left;
}

.madrid{
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  display: inline-block;
  background-postion: left;
  background-repeat: no-repeat;
}

.rome{
  background-image: url(../images/rome.jpg);
  background-size: cover;
  display: inline-block;
  background-postion: left;
  background-repeat: no-repeat;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 28%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: .5%;
    width: 48%;
  }
}
